<div class="settings">
  <form [formGroup]="settingsForm">
    <div>
      <div>
        <div>
          <h4>Other Settings</h4>
        </div>

        <div>
          <div class="form-group form-group-xs row">
            <label class="col-form-label col-form-label-sm col-xs-5" for="idStaff">Staff :</label>
            <div class="col-xs-6">
              <input class="form-control form-control-sm" type="text" id="idStaff" [formControl]="settingsForm.controls.staff" required>
            </div>
          </div>

          <h6>Goals</h6>

          <div *ngFor="let goal of settingsForm.goals; let i = index" class="form-group form-group-xs row" [class.has-danger]="settingsForm.controls[dayLabels[i]].errors">
            <label class="col-form-label col-form-label-sm col-xs-5">{{ dayLabels[i] }}:</label>
            <div class="col-xs-4">
              <input class="form-control form-control-sm" type="text" [formControl]="settingsForm.controls[dayLabels[i]]" placeholder="h:mm">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
