.hours {
    text-align: right;
    padding-right: 13px;
}
.diff {
    text-align: right
}
.low {
    padding-left: 13px;
    background: url(public/images/arrow_dr.png) no-repeat left;
}
.high {
    padding-left: 13px;
    background: url(public/images/arrow_ug.png) no-repeat left;
}
