.hours, .goal {
    width: 4rem;
    text-align: right;
}

@media screen and (max-width: 359px) {
  .goal {
    display: none;
  }
}

.diff {
    width: 4.5rem;
    text-align: right;
}
tr.active {
    font-weight: bold;
}
