<div class="container px-2">
  <timeline [now]="(context$ | async)?.now" [today]="(context$ | async)?.today"></timeline>
  <week-summary
    *ngIf="(context$ | async)?.staff"
    [actuals]="weekData$ | async"
    [goals]="(context$ | async)?.goals"
    [nowHours]="now"
    [todayHours]="eod">
  </week-summary>

  <div class="alert alert-info" role="alert" *ngIf="!(context$ | async)?.hideTimelineHelp">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hideTimelineHelp()">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>What is that bar?</strong> The daily timeline above shows today's progress.
    The times above the bar are:
    <ol>
      <li>the time you arrived</li>
      <li>the time you expect to (or did) spend at lunch</li>
      <li>the time you expect to leave.</li>
    </ol>
    <strong>Click those numbers to change.</strong>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="!(context$ | async)?.staff">
    <strong>Get more help!</strong> Timetool can help more. To get your weekly data from Timesheet
    enter your user name on the <a class="alert-link" (click)="gotoSettings()">Settings</a> page.
  </div>
</div>
