p {
    margin-bottom: 0;
}

.timeline {
  width: 100%;
  .bg-onclock {
    background-color: #28a745;
  }
  .bg-lunch {
    background-color: lightgray;
  }
  .text-onclock {
    color: #175e28;
  }
  .text-lunch {
    color: #020202;
  }
  .text-over {
    color: red;
  }

  .progress {
    background-color: rgba(0,0,0,.05);
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    height: 20px;

    .progress-bar {
        float: left;
        height: 100%;
    }
  }
}

