<div class="timeline" *ngIf="today">
  <form [formGroup]="form" novalidate>
    <div class="d-flex justify-content-between">
      <div class="px-0 text-success">
        <input-time name="arrive" formControlName="arrive"></input-time>
      </div>
      <div class="text-warning">
        <input-time formControlName="lunch"></input-time>
      </div>
      <div class="px-0 text-success">
        <input-time formControlName="leave"></input-time>
      </div>
    </div>
  </form>
  <div>
    <div class="progress" title="Time left today: {{ timeLeft }}">
      <div class="progress-bar bg-success" [style.width]="am" title="Time worked so far: {{ timeWorked }}">
        <span class="sr-only">Time worked so far: {{ timeWorked }}</span>
      </div>
      <div class="progress-bar bg-warning progress-bar-striped" [style.width]="lunch" title="Time today (inc. lunch): {{ timeTotal }}">
        <span class="sr-only">Time today (inc. lunch): {{ timeTotal }}</span>
      </div>
      <div class="progress-bar bg-success" [style.width]="pm" title="Time worked so far: {{ timeWorked }}">
        <span class="sr-only"> title="Time worked so far: {{ timeWorked }}"</span>
      </div>
    </div>
  </div>
</div>